.section-search {
  padding: 100px 20px;
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}

.search-heading {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-align: center;
}

.search-heading span {
  color: #eb3656;
}

.search-result-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  gap: 1rem;
  justify-items: center;
}

.search-empty {
  text-align: center;
  color: #ccc;
  font-size: 1rem;
  margin-top: 4rem;
}
